@media screen and (max-width: 410px) {
    body{
        background-image: url(../img/bk.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
    }
}

body {
    font-size: .2rem;
    color: rgb(58, 57, 57);
    background: lightcyan;
}

#time {
    text-align: right;
    margin-top: 3%;
    margin-right: 10%;
}

hr {
    width: 60%;
}

#year {
    font-size: 1rem;
    color: pink;
}

#hours,
#minute,
#second {
    font-size: .3rem;
    color: pink;
}

.text1,
.text2 {
    font-size: .8rem;
    font-family: 楷体;
    position: absolute;
}

.text1 {
    bottom: 2rem;
}

.text2 {
    bottom: 1rem;
    left: 1rem;
}
